<%- include('partials/head')%>
<%- include('partials/header')%>

<!------------------------------------------>


<div class="container-fluid"  id="detalle" >
    <div class="row"id='margen-topO' >
        <!-------------------------------------------->
       


        <div class=" col-12 col-sm-6 col-lg-3" id="obituarios">

           
            <span><%=obito.nombre%> <%=obito.apellido%> 
            -<%= obito.fecha%>-</span>

            <section>
                

                <figure>

                    <img src="/assets/obitos/<%=obito.imagen%>" alt="fotos obituarios">


                    
                </figure>




            </section>



        </div>




        <!-------------------------------------------->

    </div>
</div>
<%- include('partials/footer')%>